/* Every Page */
body {
	font-family: "Funnel Sans", sans-serif;
	background-color: #CBBD93;
}
nav {
	text-align: center;
	padding: 15px;
}
a:hover {
	background-color: beige;
	transform: scale(1.1, 1.1);
}
a {
	background-color: #FAE8B4;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	color: #574A24;
}
h1 {
	text-align: center;
}

/* Login CSS */
form {
	background-color: #FAE8B4;
	border-radius: 10px;
	padding: 30px;
	margin: 25px;
	text-align: center;
}
label input{
	margin: 5px;
}
#submit {
	border-radius: 5px;
	background-color: #574A24;
	color: white;
	font-family: "Funnel Sans", sans-serif;
	margin-top: 10px;
}

/*E-Commerce*/
.pageText {
	background-color: #FAE8B4;
	border-radius: 10px;
	padding: 30px;
	margin: 25px;
}
footer {
	padding-left: 30px;
}

/* Manage & Shopping Cart*/
.bottomButtons {
	margin-left: 30px;
	border-radius: 5px;
	background-color: #574A24;
	color: white;
	font-family: "Funnel Sans", sans-serif;
	margin-top: 10px;
	padding: 5px;
}